#botao{
	text-align: right;
	margin-right: 120px; 
	position: relative;
    top: 200px;
}
#botao #btnNV{
	border-radius: 10px;
	background-color: #363636;
	width:200px;
    height:35px;
}
#botao #btnNV value{
	color: #228B22;
}

a:hover {
	text-decoration: none; 
	color: #FFFAFA
	}

table caption label{
	font-size: 30px;
	margin: 100px auto;
	position: relative;
    top: 70px;
}
.form-funcionario{
	position: relative;
	margin: 150px left;
}
